*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
.wrapper {
	height: 100%;
	margin: 0;
	padding: 0;
	font: -apple-system-body;
	-webkit-text-size-adjust: 100%;
}

.outputcolumn {
	padding: 10px 40px;
}

body {
	font-family: Arial;
	font-size: 16px;
	background-color: white;
}

header {
	text-align: center;
	padding: 20px;
	padding-top: 0px;
	color: #3486eb;
}

/*---TEXT INPUT RULES---*/
.card-input {
	margin: 15px 20px;
	display: flex;
  
  
}
textarea,
input,
select {
    font-size: 16px;
}
input[type="range"],
input[type="text"] {
	width: 200px;

}

.wrapper {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.wrapper h1 {
	color:#3486eb;
}

.card {
	background-color: hsl(0, 0%, 100%);
	border-radius: 5px;
	border-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
	color: hsl(206, 17%, 28%);
	font-size: 16px;
	margin: 0 auto;
	max-width: 700px;
	padding: 10px;
	/* border: 1px solid red; */
}

.card-body {
	min-height: 100px;
	height: 100%;
	/* border: 1px solid red; */
}

.hide{
	display: none;
}

.btn {
	
	width: 50px;
	border: none;
	background-color: #3486eb;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
	color: hsl(0, 0%, 100%);
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	cursor: pointer;
}

button:hover {
	background-color: #073266;
}

button[disabled] {
	cursor: default;
	background: #c0c7cf;
}

.f14 {
	font-size: 14px;
	vertical-align: center;
}

#output {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	display:flex;
	width: 100%;
	height: 100%;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 85px;
	font-size: 1.2rem;
	text-align: start;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px dashed #c0c7cf;
	border-radius: 6px;
	resize:both;
	overflow:auto;
}

@media (max-width: 690px) {
	.btn {
		
		margin: 0;
		width: 60px;
		font-size: 16px;
		line-height: 24px;
	}

	#output {
		font-size: 1rem;
	}
}

@media (max-width: 500px) {
	.btn {
		margin: 0;
		width: 60px;
		font-size: 16px;
		line-height: 24px;
	}
}

